// articles共通パーツ
.article_content {
    width: 100%;
}

.contant-area {
	margin: 0 auto;
}

.col-md-6.half-preview {
	padding: 0;
}

.form-control.edit-content {
    resize: none;
}

.form-control.half-content {
	height: 750px;
}

.form-group.half-preview {
	height: 100%;
}

.posts .post-teaser {
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: cover;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #fff;
}
.tr-Item {
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    border-bottom: 1px solid #e8e8e8;
    padding: 16px;
}
.post-link {
    color: #000;
}

.footer-area {
	width: 100%;
	// border: solid 1px #e8e8e8;
	background-color: #eeeeee;
	position: fixed;
	bottom: 5px;
}

.button-area {
	margin-top: 5px;
}
