.article_content {
    width: 100%;
}

.form-control.edit-content {
    resize: none;
}

.form-control.preview-content {
    resize: none;
    line-height: 1.5em;
}

.half-preview{
   height: 750px; 
}

.posts .post-teaser {
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: cover;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: #fff;
}
.tr-Item {
    display: flex;
    width: 100%;
    font-size: 1.4rem;
    border-bottom: 1px solid #e8e8e8;
    padding: 16px;
}
.post-link {
    color: #000;
}
